NameVirtualHost *:80

{% for vhost in apache_vhosts %}
  <VirtualHost *:80>
    ServerName {{ servername }}
    DocumentRoot {{ documentroot }}
    {% if serveradmin %}
      ServerAdmin {{ serveradmin }}
    {% endif %}
    <Directory {{ directorypath }}>
      AllowOverride All
      Options Indexes FollowSymLinks
      Order allow,deny
      Allow from all
    </Directory>
  </VirtualHost>
{% endfor %}

